/* =======================================
    style.css
    use this file for your custom styles
========================================== */

/* use a box model that makes sense */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* set the default color, font-size, and line height */
html {
  color: #333;
  font-size: 1em;
  line-height: 1.4;
}
body{
  background-color: #ffffe6;
}
header{
  padding: 20px;
}
a:hover{
  box-shadow: 10 10 30 black;
}
#colorstrip{
    width: 100%; height: 50px;
    border-style: solid;
    border-color:	#a65959;
    background-color:	#a65959;
    margin-top: 45px;
}
.wrap {
  margin: 0 auto;
  max-width: 1200px; /* change this width to make a wider page!*/
  padding: 0 1em; /* 1em of padding on the left and right side */
}


/* make images and embedded media fluid */
img,
object {
  max-width: 100%;
}

img.nav:hover {
  -mox-box-shadow: 0 0 10px #ccc;
  -webkit-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
}

/* type hierarchy- change for your project */
h1 {
  font-size: 2em; /* 48px */
}

h2 {
  font-size: 2.25em /* 36px */
}

h3 {
  font-size: 1.75em /* 28px */
}

h4 {
  font-size: 1.125em /*18px */
}
.strip{
  padding-left: 36%;
}
footer{
  width: 100%; height: 50px;
  background-color: #a65959;
}
/* navigation list styles */
.navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 20%;
}
.first{
  padding-left: 35%;
}
/* =======================================
    author styles
    place your custom styles below here
========================================== */





/* =======================================
    Layout
    keep this at the bottom
========================================== */

@media (min-width: 620px) {
  .column {
    float: left;
    padding-left: 1em;
    padding-right: 1em;
  }

  .column.full {
    width: 100%;
  }

  .column.two-thirds {
    width: 66.7%;
    padding-left: 15%;
  }

  .column.half {
    width: 50%;
  }

  .column.third {
    width: 33.3%;
    float: left;
  }

  .column.fourth {
    width: 25%;
  }

  .column.flow-opposite {
    float: right;
  }
}


/* row used as a clearfix to clear floats */
.row:before,
.row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.row {
  padding-left: 15%;
}
